@{
    ViewBag.Title = "Pils computer service";
}
<h2>@ViewBag.Message</h2>

<section>
    <article>
        <h3>@ViewBag.Title</h3>
        <p>
            Pils computer service er startet af Kim Rasmus Pil Rasmussen for at imødekomme den efterspørgelse som der på at hjælpe medat sætte internet og trådløst netværk op i private hjem. Sådan at naboen eller andre ikke kan misbruge ens netværk.
        </p>
        <p>
            Men også hjælpe med at reperater computerne, hvis den er gået istykker. Vi hjælper med at rense den for virus og andet malware. Vi hjælper med at fejl finde på din computer, skulle der være noget med hardware. Og vi rådgiver din hvordan du kommer videre, enten med reperation eller ny computer.
        </p>
            Vi hjælper dig også med at opgradere din computer skulle du have brug for mere harddisk plads eller mere RAM.
        <p>
            
        </p>
    </article>
</section>
<hr />
<section>
    <article>
        <h3>Medaebejder</h3>
            <div class="col-sm-3 Employe">
                <img src="~/Content/Images/Kim.jpg" class="col-sm-6" />
                <h4>Kim</h4>
                <p>Ejer og arbejder på værkstedet</p>
            </div>
    </article>
</section>
<div class="clearfix"></div>
