@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sanderumvej 98<br />
    5250 Odense SV<br />
    <abbr title="Mobil">Tlf:</abbr>
    31 13 73 04
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rasmus.pil@live.dk">rasmus.pil@live.dk</a><br />
</address>