@{
    ViewBag.Title = "Forside";
}

<div class="jumbotron">
    <h1>Hvem er Pils computer service</h1>
    <p class="lead">Pils computer service er PC værkstedet for private såvel virksomheder. Vi ligger i fredlige omgivelser i Odense bydelen Sanderum.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Læs mere &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Opgradering af PC/bærbar</h2>
        <p>
            Vi opgradere din PC eller bærbar computer. Opgraderingen sker på vores værksted.
        </p>
        <p><a class="btn btn-primary" href="/Home/Services">Læs mere &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fejl finding og reperation af PC/bærbar</h2>
        <p>Vi kan godt fejl finde hos dig, men alle reperationer bliver udført på værkstedet. Så vi kan sikre at vi ikke beskader nogle af komponenterne.</p>
        <p><a class="btn btn-primary" href="/Home/Services">Læs mere &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Opsætning af trådløst netværk</h2>
        <p>Om du har købt udstyret eller bestilt det igennem os, så kommer vi ud til dig og sætter det op. Med i pakken får du vores kompetente rådgivning at placering af din trådløse router. En del af opsætningen består også i at sikre dit trådløse netværk, så uautoriseret ikke får adgang til det.</p>
        <p><a class="btn btn-primary" href="/Home/Services">Læs mere &raquo;</a></p>
    </div>
</div>