
@{
    ViewBag.Title = "Services";
}

<h2>@ViewBag.Message</h2>

<section>
    <article>
        <h4>Vores værksted</h4>
        <ul>
            <li>Rense computer for virus og malware</li>
            <li>Fejl finde og udbedre af defekt computer</li>
            <li>Opgradering af PC og bærbar computer</li>
            <li>Samling og installation af kunde specifik computer</li>
        </ul>
    </article>
    <article>
        <h4>Service hos dig</h4>
        <ul>
            <li>Opsætning af computer</li>
            <li>Opsætning af internet og trådløst netværk eller kabling</li>
            <li>Rensning af computer for virus eller malware</li>
            <li>Hjælpe med at sætte en løsning op, så der tages backup i skyen</li>
        </ul>
    </article>
</section>